.wrapper {
    padding: 2%;
    border: 4px solid blueviolet;
    background-color: yellowgreen;
    position: relative; /* relatives vutitebt mshobels, absolutes shvils aseve shvils vutitebt pozicias */
    width: 100%;
    height: 600px;
}
.text {
    float: left;
    width: 70%;
    margin-top: 30px;
    margin-left: 15px;;
    color: goldenrod;
    background-color: black;
    position: absolute;
    top: 150px;
    left: 0px;
}

.image {
    float:right;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 1; /* z-indexit vuytitebt ramdenad mnishvnelovania position elementi, rac metia ricxvi mit ufro meaningfullya */
}

.clear {
    clear: both;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}

.text1, .text2 {
    display: inline-block;
}

.divider {
    display: inline-block;
    height: 15px;
    width: 2px;
    background-color: blue;
    margin: 0 10px;
}

.txt2::before {
    content: '\007C';
    display: inline-block;
    background-color: black;
    margin: 0 10px;;
}

.txt1::after {
    content: '';
    width: 2px;
    height: 20px;
    display: inline-block;
    background-color: aqua;
    margin: 0 10px;
}

.txt1, .txt2 {
    display: inline-block;
}

.left-wrapper {
    float: left;
    background-color: greenyellow;
    width: 550px;
}

.right-wrapper {
    float: right;
    background-color: aquamarine;
    width: 550px;
}

.img1 {
    float: left;
    width: 250px;
}

.img2 {
    float: right;
    width: 250px;
}
.box {
    width: 1200px;
    margin: 0 auto;
}

.note1, .note2 {
    width: 250px;
    display: inline-block;
}

.box::after {
    content: '';
    clear: both;
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
}


.main-wraper {
    background-image: linear-gradient(white, blue);
    border: none;
    width: 100%;
    height: 100%;
}

.menu {
    display: block;
    background-color: black;
    text-align: center;
}

.nav_li {
    display: inline-block;
    padding: 10px;
}

.home, .news, .contact, .about {
    display: inline-block;
    padding: 0 25px;
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    color: white;
    font-weight: bolder;
    margin: 0 auto;
}

.menu {
    position: fixed; /* sticky-s  dros rodesac mivalt elementamende shemdeg fixavs, */
    bottom: 0;
    left: 0;
    right: 0;
}


